.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .cardn{
    width: 250px;
    height: 250px;
    overflow: auto;
    border-radius: 5px;
  }

  /* Barra de desplazamiento */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Barra de desplazamiento en hover */
  ::-webkit-scrollbar-thumb {
    background: #010024;
  }
  
  /* Fondo de la barra de desplazamiento */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }


  .desc{
    text-align: center;
  }
  
  .aa{
    text-decoration: none;
    color: #010024; 
  }
