* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

//     --LOGIN AND REGISTER--
.tittle {
    font-weight: 600;
    color: #010024;
}

.tittle1 {
    font-weight: 600;
    color: #010024;
    text-align: center;
    margin-top: 5px;
}

.wrapper {
    background: linear-gradient(to top, rgba(22, 41, 40, 0.103) ,
    rgba(46, 94, 109, 0.096)), url(imagenes/fondo1.svg);
    background-size: cover;
    padding: 0 20px 0 20px;
   
}

/* ----------------------------------------------
  ANIMACIONES
---------------------------------------------- */

.scale-up-center{
    animation:scale-up-center 1.4s; } 
    @keyframes scale-up-center{ 
        0%{transform:scale(.5)} 
        100%{transform:scale(1)
        } 
    }

.rotate-center{
    animation:rotate-center 0.9s} 
    @keyframes rotate-center{
        0%{transform:rotate(0)}
        100%{transform:rotate(360deg)
        }
    }

.jello-horizontal{
    animation:jello-horizontal .9s linear both}
     @keyframes jello-horizontal{
        0%{transform:scale3d(1,1,1)}30%
        {transform:scale3d(1.25,.75,1)}
        40%{transform:scale3d(.75,1.25,1)}50%
        {transform:scale3d(1.15,.85,1)}65%
        {transform:scale3d(.95,1.05,1)}75%
        {transform:scale3d(1.05,.95,1)}100%
        {transform:scale3d(1,1,1)
        }
    }

.shadow-drop-center{
    animation:shadow-drop-center 0.5s linear both}
     @keyframes shadow-drop-center{
        0%{box-shadow:0 0 0 0 transparent
        }100%
        {box-shadow:0 0 20px 0 rgba(255, 255, 255, 0.61)
        }
    }


 .mainn {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 /* Estilo para ocultar las flechas de incremento y decremento en input number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0; /* opcional, para ajustar el espaciado si es necesario */
}

 .img2 {
    width: 130px;
    margin-top: 20px;
 }
     
.row1 {
    width: 400px;
    border-radius: 10px;
    background: #fff;
    padding: 0px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
}

.input-field {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}

.regis{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.login{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-login {
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    font-weight: 700;
    width: 145px;
    padding: 6px;
    color: rgb(0, 12, 26);
    background: #dddcdc;
    border-radius: 5px;
    transition: .4s;
    letter-spacing: 1px;
}

.btn-login:hover {
    background: rgb(0, 12, 26);
    color: #fff;
}

.btn-regis{
    text-decoration: none;
    text-align: center;
    border: none;
    width: 450px;
    outline: none;
    font-weight: 700;
    font-size: 22px;
    padding: 6px;
    color: rgb(0, 12, 26);
    background: #dddcdc;
    border-radius: 5px;
    transition: .4s;
    letter-spacing: 1px;
}

.btn-regis:hover{
    background: rgb(0, 12, 26);
    color: #fff;
}

.input {
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}

.input-box .input-field label {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}

.input-field input:focus~label {
    top: -10px;
    font-size: 14px;
}

.input-field input:valid~label {
    top: -10px;
    color: rgb(0, 12, 26);
}

.input-field .input:focus,
.input-field .input:valid {
    border-bottom: 1px solid rgb(0, 12, 26);
}

.submit {
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    font-weight: 700;
    padding: 6px;
    color: rgb(0, 12, 26);
    background: #dddcdc;
    border-radius: 5px;
    transition: .4s;
    letter-spacing: 1px;
}

.submit:hover {
    background: rgb(0, 12, 26);
    color: #fff;
}

.a {
    text-decoration: none;
    font-weight: 500;
    color: #706e6e;
    transition: .5s;
}

.a:hover {
    text-decoration: none;
    color: #010024;
}

.a1 {
    text-decoration: none;
    font-weight: 500;
    color: #706e6e;
    transition: .5s;
}

.a1:hover {
    text-decoration: none;
    color: #010024;
}

@media only screen and (max-width: 768px) {

    img {
        width: 35px;
        top: 20px;
        left: 47%;
    }

    .row {
        max-width: 420px;
        width: 100%;
    }
}

//  --NavSide and Nav--
:root {
    --blue: #020013;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

   body {
    min-height: 100vh;
    overflow-x: hidden;
   }

.img {
    width: 70px;
}

.containerr{
    position: absolute;
    width: 50%;
}

/* =============== Navigation ================ */
.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    display: grid;
    background:#020013;    
    transition: 0.5s;
    overflow: hidden;
    transform: translateX(0%);
}

.navigation.close{
    transform: translateX(-100%);
}

.tittle2{
    color: var(--white);
    margin-top: 32px; 
    margin-left: 10px;
}

.navigation.active {
    width: 80px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background-color: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 30px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--blue);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75rem;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/* ===================== Main ===================== */
.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.content{
    position: relative;
    width: 100%;
    padding: 20px;  
    
}

.content .dash {
    position: relative;
    background: var(--white);
    border-color: white;
    // display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  .cardBox {
    position: relative;
      width: 100%;
      padding: 20px;  
  }
  
  .cardBox .card1 {
    position: relative;
      background: var(--white);
      border-color: white;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
  }

  .recentCustomers {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--white);
  }



.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .logo img {
    height: 100%;
    object-fit: cover;
  }
  

.topbar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.toggle {
    position: relative;
    width: 60px;
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;    
}

// --CALENDARIO--

.cont {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /* margin-top: 10px; */
  }
  
  .cont .calendario {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    border-radius: 20px;
  }
  
  .cont .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
  }


  .card-container.card {
    max-width: 390px;
    padding: 40px 40px;
}

  
  .card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 20px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 86px;
    height: 86px;
    margin: 0 auto;
    display: block;
}

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
    .navigation {
      left: -300px;
    }
    .navigation.active {
      width: 300px;
      left: 0;
    }
    .main {
      width: 100%;
      left: 0;
    }
    .main.active {
      left: 300px;
    }
    .cardBox {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .cont {
      grid-template-columns: 1fr;
    }
    .calendario {
      overflow-x: auto;
    }
    .status.inProgress {
      white-space: nowrap;
    }
  }
  
  @media (max-width: 480px) {
    .cardBox {
      grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2 {
      font-size: 20px;
    }
    .user {
      min-width: 40px;
    }
    .navigation {
      width: 100%;
      left: -100%;
      z-index: 1000;
    }
    .navigation.active {
      width: 100%;
      left: 0;
    }
    .toggle {
      z-index: 10001;
    }
    .main.active .toggle {
      color: #fff;
      position: fixed;
      right: 0;
      left: initial;
    }
  }