* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

//     --LOGIN AND REGISTER--
.tittle {
    font-weight: 600;
    color: #010024;
}

.tittle1 {
    font-weight: 600;
    color: #010024;
    text-align: center;
    margin-top: 5px;
}

.wrapper {
    background: linear-gradient(to top, #1629281a ,
    rgba(46, 94, 109, 0.096)), url(imagenes/fondo.svg);
    background-size: cover;
    padding: 0 20px 0 20px; 
    min-height: 100vh;
}

.side-image {
    background: linear-gradient(to top, rgba(22, 41, 40, 0.4) 40%,
            rgba(46, 94, 109, 0)), url(imagenes/xx.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
    position: relative;
}

 .container1{
     display: flex;
     justify-content: center;
 }

.login1{
    width: 45%;
    height: 400px;
    border-radius: 10px;
    background: #fff;
    padding: 0px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
}
 .singin{
    display: grid;
    align-items: center;
 }

/* ----------------------------------------------
  ANIMACIONES
---------------------------------------------- */

.scale-up-center{
    animation:scale-up-center 1.4s; } 
    @keyframes scale-up-center{ 
        0%{transform:scale(.5)} 
        100%{transform:scale(1)
        } 
    }
    

 /* Estilo para ocultar las flechas de incremento y decremento en input number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0; /* opcional, para ajustar el espaciado si es necesario */
}

 .img-login {
    width: 140px;
    margin-top: 1%;
    margin-left: 5%;
 }

.input-field {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}

.btn-regis{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn-login{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.buttonL {
  padding: 6px;
  border-radius: 5px;
  border: 0;
  color: #020013;
  background-color: #dddcdc;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: 145px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  transition: all .5s ease;
 }
 
 .buttonL:hover {
  letter-spacing: 3px;
  background-color: hsl(246deg 100% 3%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(2 24 220) 0px 7px 29px 0px;
 }
 
 .buttonL:active {
  letter-spacing: 3px;
  background-color: hsl(246deg 100% 3%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(2 0 19) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
 }

 .checkbox-wrapper input[type="checkbox"] {
  display: none;
}

.checkbox-wrapper .terms-label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkbox-wrapper .terms-label .label-text {
  margin-left: 10px;
}

.checkbox-wrapper .checkbox-svg {
  width: 18px;
  height: 18px;
}

.checkbox-wrapper .checkbox-box {
  fill: rgba(207, 205, 205, 0.425);
  stroke: #020013;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  transition: stroke-dashoffset 0.6s ease-in;
}

.checkbox-wrapper .checkbox-tick {
  stroke: #020013;
  stroke-dasharray: 172;
  stroke-dashoffset: 172;
  transition: stroke-dashoffset 0.6s ease-in;
}

.checkbox-wrapper input[type="checkbox"]:checked + .terms-label .checkbox-box,
  .checkbox-wrapper input[type="checkbox"]:checked + .terms-label .checkbox-tick {
  stroke-dashoffset: 0;
}

 //Estilos formulario registro 
.input {
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}

.input-box .input-field label {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}

.input-field input:focus~label {
    top: -10px;
    font-size: 14px;
}

.input-field input:valid~label {
    top: -10px;
    color: rgb(0, 12, 26);
}

.input-field .input:focus,
.input-field .input:valid {
    border-bottom: 1px solid rgb(0, 12, 26);
}

.CartBtn {
  width: 160px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: rgb(2, 0, 19 );
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition-duration: .5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
}

.IconContainer {
  position: absolute;
  left: -51px;
  width: 30px;
  height: 38px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .5s;
}

.textoo {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: .5s;
  font-size: 20px;
  font-weight: 700;
}

.CartBtn:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: .5s;
}

.CartBtn:hover .textoo {
  transform: translate(10px,0px);
  transition-duration: .5s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: .5s;
}

.svg-icon1 {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-8deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.icon {
  border-radius: 1px;
}

.custom-input-file {
  display: none;
}

.custom-file-button {
  background-color:  #dddcdc;
  color: #020013;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: .4s;
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  gap: 3px;
}

.custom-file-button:hover{
  background-color: #020013;
  color: white;
}


//Estilos olvida contraseña e ingresa (password)
.a {
    text-decoration: none;
    font-weight: 500;
    color: #706e6e;
    transition: .5s;
}

.a:hover {
    text-decoration: none;
    color: #010024;
}

.aP {
    text-decoration: none;
    font-weight: 500;
    color: #706e6e;
    transition: .5s;
}

.aP:hover {
    text-decoration: none;
    color: #010024;
}

//  --NavSide and Nav--
:root {
    --blue: #020013;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

   body {
    min-height: 100vh;
    overflow-x: hidden;
   }

.img {
    width: 70px;
}

.containerr{
    position: absolute;
    width: 50%;
}

.logo {
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
}

.logo img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.logoA {
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
}

.logoA img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.welcome{
  font-weight: 600;
}

.sombra {
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}


.buttonT {
  --size: 2.5rem;
  --clr: #020013;
  width: var(--size);
  height: calc(0.7 * var(--size));
  cursor: pointer;
  position: relative;
  display: block;
}

.buttonT #toggle {
  display: none;
  width: 100%;
  height: 100%;
}

.buttonT span {
  display: block;
  position: absolute;
  width: 100%;
  border-radius: 0.5rem;
  border: 3px solid var(--clr);
  background-color: var(--clr);
  transition: 0.15s ease-in-out;
}

.buttonT span:nth-of-type(1) {
  top: 0;
  right: 0;
  transform-origin: right center;
}

.buttonT span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

.buttonT span:nth-of-type(3) {
  top: 100%;
  right: 0;
  transform-origin: right center;
  transform: translateY(-100%);
}

.buttonT #toggle:checked ~ span:nth-of-type(1) {
  transform: translateY(-30%) rotate(40deg);
  width: 50%;
  top: 50%;
}

.buttonT #toggle:checked ~ span:nth-of-type(3) {
  transform: translateY(-70%) rotate(-40deg);
  width: 50%;
  top: 50%;
}

/* =============== Navigation ================ */
.navigation {
    position: fixed;
    width: 273px;
    height: 100%;
    display: grid;
    background:#020013;   
    transition: 0.5s;
    // overflow: hidden;   
}

.tittle2{
    color: var(--white);
    margin-top: 32px; 
    margin-left: 10px;
}

.navigation.active {
    width: 100px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background-color: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 30px;
    background-color: #020013;
}


.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--blue);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75rem;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:nth-child(1):hover a::before,
.navigation ul li:nth-child(1).hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0px;
    width: 0px;
    height: 0px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:nth-child(1):hover a::after,
.navigation ul li:nth-child(1).hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0px;
    width: 0px;
    height: 0px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}


/* ===================== Main ===================== */



.main {
    position: absolute;
    width: calc(100% - 270px);
    left: 275px;
    min-height: 100%;
    background: var(--white);
    transition: 0.5s;
    flex-grow: 1;
}

.main.active {
    width: calc(100% - 100px);
    left: 100px;
}

.content{
    position: relative;
    width: 100%;
    padding: 20px;  
    
}

.content .dash {
    position: relative;
    background: var(--white);
    border-color: white;
  }

  .cardBox {
    position: relative;
      width: 100%;
      padding: 20px;  
  }
  
  .cardBox .card1 {
    position: relative;
      background: var(--white);
      border-color: white;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
  }

  .calendario {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--white);
    width: 100%;
  }


//DASHBOARD

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Proporción 16:9 */
    overflow: hidden;
  }
  
  .iframe-container .dashp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

// --CALENDARIO y BOLETÍN--

.cont {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin-top: 10px; 
  }
  
  .cont .boletin {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    border-radius: 20px;
  }
  
  .cont .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
  }


  .card-container.card {
    max-width: 390px;
    padding: 40px 40px;
}

  
  .card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 20px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 86px;
    height: 86px;
    margin: 0 auto;
    display: block;
}

.cyb{
    width: 100%;
    height: 400px;
    overflow: auto;
    border-radius: 5px;
}

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
    .navigation {
      left: -273px;
    }
    .navigation.active {
      width: 273px;
      left: 0;
    }
    .main {
      width: 100%;
      left: 0;
    }
    .main.active {
      left: 273px;
    }
    .cardBox {
      grid-template-columns: repeat(2, 1fr);
    }

    .buttonT span:nth-of-type(1) {
      top: 0;
      left: 0;
      transform-origin: left center;
    }
    
    .buttonT span:nth-of-type(2) {
      top: 50%;
      transform: translateY(-50%);
    }
    
    .buttonT span:nth-of-type(3) {
      top: 100%;
      left: 0;
      transform-origin: left center;
      transform: translateY(-100%);
    }
    
    .buttonT #toggle:checked ~ span:nth-of-type(3) {
      transform: translateY(-70%) rotate(40deg);
      width: 50%;
      bottom: 50%;
      left: 0px;
    }
    
    .buttonT #toggle:checked ~ span:nth-of-type(1) {
      transform: translateY(-30%) rotate(-40deg);
      width: 50%;
      bottom: 50%;
      left: 0px;
    }
    
  }
  
  @media (max-width: 768px) {
    .cont {
      grid-template-columns: 1fr;
    }
    .calendario {
      overflow-x: auto;
    }
    .status.inProgress {
      white-space: nowrap;
    }

    .buttonT #toggle:checked ~ span:nth-of-type(1) {
      transform: translateY(-30%) rotate(40deg);
      width: 50%;
      top: 50%;
    }
    
    .buttonT #toggle:checked ~ span:nth-of-type(3) {
      transform: translateY(-70%) rotate(-40deg);
      width: 50%;
      top: 50%;
    }
  }
  
  @media (max-width: 480px) {
    .cardBox {
      grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2 {
      font-size: 20px;
    }
    .user {
      min-width: 40px;
    }
    .navigation {
      width: 100%;
      left: -100%;
      z-index: 1000;
    }
    .navigation.active {
      width: 100%;
      left: 0;
    }
   
    .main.active {
      color: #fff;
      position: fixed;
      right: 0;
      left: initial;
    }

    .buttonT #toggle:checked ~ span:nth-of-type(1) {
      transform: translateY(-30%) rotate(40deg);
      width: 50%;
      top: 50%;
    }
    
    .buttonT #toggle:checked ~ span:nth-of-type(3) {
      transform: translateY(-70%) rotate(-40deg);
      width: 50%;
      top: 50%;
    }
  }